@model FirstMVC.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithModel</title>
</head>
<body>
    <div> 
        <h3>@Model.Name</h3>
        <h3>@Model.Address</h3>
    </div>
</body>
</html>
