<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("title")</title>
</head>
<body>
    <h3>@RenderSection("header")</h3>
    <div> 
        @RenderBody()
    </div>
    <h3>@RenderSection("footer")</h3>
</body>
</html>
