@model FirstMVC.Models.COPY_EMP

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <div> 
        <h2>@Model.EMPLOYEE_ID</h2>
        <p>@Model.FIRST_NAME</p>
        <p>@Model.LAST_NAME</p>
    </div>
</body>
</html>
