@model FirstMVC.Models.COPY_EMP

@{ 
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


@section title{
    Detail Employee
}

<h2>@Model.EMPLOYEE_ID</h2>
<p>@Model.FIRST_NAME</p>
<p>@Model.LAST_NAME</p>
